<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BDFloristeria"
			 connectionString="Data Source=localhost; Initial Catalog=BD_Floristeria; Integrated Security=True; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

